#page-main {
	display: flex;
	width: 100vw;
	height: 100vh;
	background: #18181B;
	flex-direction: row;
}

#page-main aside{
	display: flex;
	min-width: 30vw;
	height: 100vh;
}

#page-main main{
	display: flex;
	min-width: 70vw;
	height: 100vh;
}

