#page-main {
  display: flex;
  min-width: 1268px;
  min-height: 656px;
  background: #000;
  flex-direction: row;
}

#page-main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  min-width: 30%;
  min-height: 100%;
}

#page-main aside .logo-img {
  max-width: 320px;
}

#page-main main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  min-height: 100%;
  background-color: #18181b;
}
