* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

html, body { 
	height: 100vh;
	font-family: 'Fira Mono', monospace, sans-serif;
}

span, h1, h2, h3, h4, h5, h6, p, strong {
	color: aliceblue;
}
